.mat-dialog-container {
  border-radius: 4px !important;
  border: 0 !important;
  border-top: 4px solid var(--color-primary) !important;
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
  background: #fff;
}
