@use '~@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$blue-palette, 600);
$light-accent: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

$mat-theme-ignore-duplication-warnings: true;

// Apply the light theme by default
@include mat.all-component-themes($light-theme);

// Apply the dark theme only when the `.dark-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
