.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px - 38px);
  overflow-x: hidden;
  overflow-y: auto;

  .none {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    user-select: none;

    .label {
      font-size: 1.3em;
      color: rgba(0,0,0,.32);
      margin-bottom: 12px;
    }

    .description {
      font-size: 0.9em;
      color: rgba(0,0,0,.32);
      margin-bottom: 12px;
    }
  }
}
