.container {
  width: 100%;
  height: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  overflow: auto;
  max-height: calc(100vh - 56px);

  .mat-tree-node {
    height: 32px;
    width: 100%;
    padding: 0 16px;
    cursor: pointer;
    user-select: none;

    .expander {
      width: 14px;
      height: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .expander.opened {
      img {
        transform: rotate(90deg);
      }
    }

    .icon {
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .key {
      font-size: 1em;
    }
  }

  .tree-invisible {
    display: none;
  }

  .tree .mat-nested-tree-node div[role=group] {
    padding-left: 20px;
  }

  .tree div[role=group] > .mat-tree-node {
    padding-left: 10px;
  }
}
