<div class="core-tree">
  <mat-tree class="tree"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    [trackBy]="trackByKey">
    <mat-tree-node *matTreeNodeDef="let node"
      [class.selected]="(data.currentNode$ | async)?.path === node.path"
      (contextmenu)="onNodeRightClick($event, node)"
      (click)="onNodeClick(node)"
    >
      <div class="background"></div>

      <div class="icon">
        <img width="auto" height="28px" draggable="false"
          src="./assets/icons/tree/note.png" />
      </div>

      <div class="key">
        {{node.key}}
      </div>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node"
        [class.selected]="(data.currentNode$ | async)?.path === node.path"
        (contextmenu)="onNodeRightClick($event, node)"
      >
        <div class="background"></div>

        <div class="expander" matTreeNodeToggle
            [class.opened]="treeControl.isExpanded(node)"
        >
          <img width="auto" height="14px" draggable="false"
            src="./assets/icons/tree/arrow_right.png" />
        </div>

        <div class="icon"
          (click)="onNodeClick(node)"
          (dblclick)="onNodeDoubleClick(node)"
        >
          <img width="auto" height="28px" draggable="false"
            src="./assets/icons/tree/folder.png" />
        </div>

        <div class="key"
          (click)="onNodeClick(node)"
          (dblclick)="onNodeDoubleClick(node)"
        >
          {{node.key}}
        </div>
      </div>

      <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>

  <!-- Hidden div to set the position of the menu -->
  <div style="visibility: hidden; position: fixed;"
      [style.left]="menuPosition.x"
      [style.top]="menuPosition.y"
      [matMenuTriggerFor]="contextMenu">
  </div>

  <mat-menu #contextMenu="matMenu">
    <button mat-menu-item
      style="display: flex; justify-content: flex-start; align-items: center"
      (click)="dialogs.openTranslationAdd()">

      <img src="./assets/icons/toolbar/add_id.png"
           width="24px" height="24px"
           style="margin-right: 8px" />
      <span translate>ACTION.ADD_TRANSLATION</span>
    </button>

    <button mat-menu-item
      style="display: flex; justify-content: flex-start; align-items: center"
      (click)="data.removeSelectedId()">
      <img src="./assets/icons/toolbar/remove_id.png"
           width="24px" height="24px"
           style="margin-right: 8px"/>
      <span translate>ACTION.REMOVE_TRANSLATION</span>
    </button>
  </mat-menu>

  <div class="none" *ngIf="(data.tree$ | async).length === 0">
    <div class="label" translate>TEXT.NO_TRANSLATION_KEY</div>

    <button mat-raised-button color="primary" (click)="dialogs.openTranslationAdd()">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#fff" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>

      <span translate>ACTION.CREATE_FIRST_TRANSLATION</span>
    </button>
  </div>
</div>
