.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  user-select: none;

  .header {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .title {
      font-size: 1.4em;
      color: var(--color-primary);
      padding-left: 24px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-height: calc(100% - 112px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 24px;

    mat-hint {
      font-size: 1.1em;
      padding-top: 8px;
    }

    mat-hint.error {
      color: var(--color-warn);
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 56px;
    max-height: 56px;
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 0 12px;
    background: #F4F4F4;
  }
}
