<div class="container">
  <div class="left">
    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="functions.openI18nFolder()"
    >
      <img src="../../../../assets/icons/toolbar/folder.png" width="24px" height="24px" />
      <div class="label">Open</div>
    </div>
  </div>

  <div class="center">
    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/add_id.png" width="24px" height="24px" />
      <div class="label">Add ID</div>
    </div>

    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/remove_id.png" width="24px" height="24px" />
      <div class="label">Remove ID</div>
    </div>

    <div class="spacer"></div>

    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/language.png" width="24px" height="24px" />
      <div class="label">Languages</div>
    </div>

    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/config.png" width="24px" height="24px" />
      <div class="label">Config</div>
    </div>

    <div class="spacer"></div>

    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/donate.png" width="24px" height="24px" />
      <div class="label">Donate</div>
    </div>
  </div>

  <div class="right">
    <div class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="functions.save()"
    >
      <img src="../../../../assets/icons/toolbar/save.png" width="24px" height="24px" />
      <div class="label">Save</div>
    </div>
  </div>
</div>
