<div class="container">
  <div class="left">i18n</div>

  <div class="right">
    <!-- <button mat-raised-button color="primary" -->
    <!--   matTooltip="Open your i18n folder" -->
    <!--   (click)="functions.openI18nFolder()"> -->

    <!--   <svg style="width:24px;height:24px;margin-right:4px;transform:translateY(-1px)" viewBox="0 0 24 24"> -->
    <!--     <path fill="#fff" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /> -->
    <!--   </svg> -->

    <!--   Open -->
    <!-- </button> -->

    <div class="button">
      <svg style="width:24px;height:24px;margin-right:4px;transform:translateY(-1px)" viewBox="0 0 24 24">
        <path fill="red" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
      </svg>

      <div class="label">Open</div>
    </div>
  </div>
</div>
