<div class="container">
  <div class="left">
    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLatestProjects()"
    >
      <img src="../../../../assets/icons/toolbar/folder.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Open</div>
    </button>

    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openCreateNewProject()"
    >
      <img src="../../../../assets/icons/toolbar/folder_add.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Create</div>
    </button>
  </div>

  <div class="center">
    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      [disabled]="!(projects.currentProject$ | async)"
      (click)="dialogs.openTranslationAdd()"
    >
      <img src="../../../../assets/icons/toolbar/add_id.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Add ID</div>
    </button>

    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      [disabled]="!(projects.currentProject$ | async)"
      (click)="data.removeSelectedId()"
    >
      <img src="../../../../assets/icons/toolbar/remove_id.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Remove ID</div>
    </button>

    <div class="spacer"></div>

    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      [disabled]="!(projects.currentProject$ | async)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/language.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Languages</div>
    </button>

    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openConfiguration()"
    >
      <img src="../../../../assets/icons/toolbar/config.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Config</div>
    </button>

    <div class="spacer"></div>

    <button class="button"
      matRipple
      matRippleColor="rgba(0,0,0,.12)"
      (click)="dialogs.openLanguagesConfig()"
    >
      <img src="../../../../assets/icons/toolbar/donate.png"
           width="24px"
           height="24px"
           draggable="false" />

      <div class="label">Donate</div>
    </button>
  </div>

  <div class="right">
    <ng-template [ngIf]="!(isSaving$ | async)" [ngIfElse]="saving">
      <button class="button"
        matRipple
        matRippleColor="rgba(0,0,0,.12)"
        [disabled]="!(projects.currentProject$ | async)"
        style="min-width: 48px; max-width: 48px"
        (click)="functions.save()"
      >
        <img src="../../../../assets/icons/toolbar/save.png"
             width="24px"
             height="24px"
             draggable="false" />

        <div class="label">Save</div>
      </button>
    </ng-template>

    <ng-template #saving>
      <div style="min-width: 48px; max-width: 48px; display: flex; justify-content: center; align-items: center">
        <mat-spinner mode="indeterminate" diameter="28" strokeWidth="2" color="primary"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
