<div class="core-translation">
  <div class="key" [cdkCopyToClipboard]="key" (click)="copiedKey()">{{key}}</div>

  <table>
    <tr *ngFor="let lang of setting.languages$ | async">
      <td>
        <core-language-icon [languageId]="lang" height="24"></core-language-icon>
      </td>

      <td>{{lang}}</td>

      <td>
        <textarea #textarea
          rows="1"
          (input)="onInput(textarea)"
          [(ngModel)]="data.dataMap[key][lang]">
        </textarea>
      </td>
    </tr>
  </table>
</div>
