.core-translation {
  width: 100%;
  padding: 32px 16px 24px 16px;
  border-bottom: 1px solid rgba(0,0,0,.38);

  .key {
    margin-bottom: 12px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color-primary);
  }

  table {
    width: 100%;

    td {
      padding-bottom: 4px;

      textarea {
        resize: none;
        width: 100%;
        height: auto;
        min-height: 36px;
        font-size: 0.9em;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.24);
        outline-color: var(--color-primary);
        font-family: Roboto, san-serif;
        overflow: hidden;
      }
    }

    td:first-child {
      white-space: nowrap;
      width: 1%;
      vertical-align: top;
      padding-top: 8px;
      padding-right: 16px;
    }
  }
}
