.core-tree {
  width: 100%;
  height: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  overflow: auto;
  max-height: calc(100vh - 56px);

  .mat-tree-node {
    position: relative;
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    padding: 0 16px;
    cursor: pointer;
    user-select: none;

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100vw;
      right: 0;
      background: unset;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    .expander {
      width: 24px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .expander.opened {
      img {
        transform: rotate(90deg);
      }
    }

    .icon {
      height: 28px;
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .key {
      min-height: 32px;
      max-height: 32px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1em;
      padding-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 1;
    }

    &:hover {
      .background {
        background: #F4F4F4;
      }
    }
  }

  .mat-tree-node.selected {
    .background {
      border-color: var(--color-primary);
      background: #CFE4FF;
    }
  }

  .tree-invisible {
    display: none;
  }

  .tree .mat-nested-tree-node div[role=group] {
    padding-left: 18px;
  }

  .tree div[role=group] > .mat-tree-node {
    padding-left: 20px;
  }
}
