<div class="container">
  <div class="header">
    <div class="title" translate>TITLE.CREATE_NEW_PROJECT</div>
  </div>

  <div class="path-wrapper" (click)="chooseFolder()">
    <mat-form-field appearance="outline">
      <mat-label translate>LABEL.CHOOSE_FOLDER</mat-label>

      <svg style="width:24px;height:24px;margin-right:8px"
           viewBox="0 0 24 24"
           matPrefix>
        <path fill="var(--color-primary)" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
      </svg>

      <input matInput readonly
        [placeholder]="'LABEL.CHOOSE_FOLDER' | translate"
        [value]="folderPath$ | async">

      <svg style="width:24px;height:24px" viewBox="0 0 24 24"
        matSuffix
        *ngIf="(isValidFolder$ | async) === true">
        <path fill="#00C853" d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" />
      </svg>

      <svg style="width:24px;height:24px" viewBox="0 0 24 24"
        matSuffix
        *ngIf="(isValidFolder$ | async) === false">
        <path fill="#F44336" d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
    </mat-form-field>
  </div>

  <div class="languages-wrapper">
    <div class="language-list">
      <div class="label">{{'LABEL.LANGUAGES' | translate}} ({{(filteredLanguageList$ | async).length}})</div>

      <div class="search-wrapper">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="var(--color-primary)" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
        </svg>

        <input #search
          [placeholder]="'LABEL.SEARCH_LANGUAGE' | translate"
          (keyup)="onSearch$.next(search.value)" />

        <svg style="width:24px;height:24px;cursor:pointer" viewBox="0 0 24 24"
          *ngIf="search.value.length > 0"
          (click)="search.value=''; onSearch$.next('')">

          <path fill="var(--color-warn)" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </div>

      <div class="language-wrapper" #languageList>
        <ng-template [ngIf]="(filteredLanguageList$ | async).length > 0" [ngIfElse]="noLangFound">
          <div class="language" *ngFor="let lang of filteredLanguageList$ | async"
            (click)="addLanguage(lang)">
            <div class="description">{{lang.description}}</div>
            <div class="id">{{lang.id}}</div>
          </div>
        </ng-template>

        <ng-template #noLangFound>
          <div class="none" translate>TEXT.NO_LANGUAGE_FOUND</div>
        </ng-template>
      </div>
    </div>

    <div class="arrow">
      <svg style="width:48px;height:48px" viewBox="0 0 24 24">
        <path fill="var(--color-primary)" d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" />
      </svg>
    </div>

    <div class="language-picked">
      <div class="label">{{'LABEL.SELECTED' | translate}} ({{(selectedLanguageList$ | async).length}})</div>

      <div class="language-wrapper" #selectedList style="height: 100%">
        <ng-template [ngIf]="(selectedLanguageList$ | async).length > 0" [ngIfElse]="noSelected">
          <div class="language" *ngFor="let lang of selectedLanguageList$ | async"
            (click)="removeLanguage(lang)">
            <div class="description">{{lang.description}}</div>
            <div class="id">{{lang.id}}</div>
          </div>
        </ng-template>

        <ng-template #noSelected>
          <div class="none" translate>TEXT.NO_LANGUAGE_SELECTED</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="primary-lang-wrapper">
      <div class="label">
        <span translate>LABEL.PRIMARY_LANGUAGE</span>:
      </div>

      <mat-form-field>
        <mat-select [(value)]="primaryLanguageId">
          <mat-option value="">{{'TEXT.NONE' | translate}}</mat-option>

          <mat-option *ngFor="let lang of selectedLanguageList$ | async" [value]="lang.id">
            {{lang.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-button style="margin-right: 8px" (click)="close()">
        <span translate>ACTION.CLOSE</span>
      </button>

      <button mat-raised-button color="primary" (click)="create()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#fff" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
        </svg>

        <span translate>ACTION.ACCEPT</span>
      </button>
    </div>
  </div>
</div>
