<div class="container">
  <div class="header">
    <core-toolbar></core-toolbar>
  </div>

  <div class="body">
    <as-split direction="horizontal">
      <as-split-area [size]="40" [maxSize]="60">
        <core-tree></core-tree>
      </as-split-area>

      <as-split-area [size]="60" [maxSize]="80">
        <core-editor></core-editor>
      </as-split-area>
    </as-split>
  </div>

  <div class="loader-wrapper" id="APP-LOADER">
    <div class="card">
      <div class="loader">
        <div class='block'>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
        </div>
      </div>

      <span class="label">Processing...</span>
    </div>
  </div>
</div>
