<div class="container">
  <div class="header">
    <core-toolbar></core-toolbar>
  </div>

  <div class="body">
    <ng-template [ngIf]="projects.currentProject$ | async" [ngIfElse]="noSelectedProject">
      <as-split direction="horizontal">
        <as-split-area [size]="40" [maxSize]="60">
          <core-tree></core-tree>
        </as-split-area>

        <as-split-area [size]="60" [maxSize]="80">
          <core-editor></core-editor>
        </as-split-area>
      </as-split>
    </ng-template>

    <ng-template #noSelectedProject>
      <div class="none">
        <div class="title" translate>TEXT.NO_PROJECT</div>

        <div class="buttons">
          <button mat-stroked-button color="primary"
            style="border: 2px solid var(--color-primary)"
            (click)="dialogs.openCreateNewProject()">

            <svg style="width:24px;height:24px;margin-right: 4px; transform:translateY(-2px)" viewBox="0 0 24 24">
              <path fill="var(--color-primary)" d="M10,4L12,6H20A2,2 0 0,1 22,8V18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10M15,9V12H12V14H15V17H17V14H20V12H17V9H15Z" />
            </svg>

            <span translate>ACTION.CREATE_PROJECT</span>
          </button>

          <div style="width: 24px"><!--Spacer--></div>

          <button mat-raised-button color="primary"
            (click)="dialogs.openLatestProjects()">

            <svg style="width:24px;height:24px;margin-right: 4px; transform:translateY(-2px)" viewBox="0 0 24 24">
              <path fill="#fff" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
            </svg>

            <span translate>ACTION.OPEN_PROJECT</span>
          </button>
        </div>

        <div class="user-guide" (click)="openUserGuide()">
          <span translate>ACTION.USAGE</span>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="footer">
    <core-status-bar></core-status-bar>
  </div>

  <div class="loader-wrapper" id="APP-LOADER">
    <div class="card">
      <div class="loader">
        <div class='block'>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
          <div class='item'></div>
        </div>
      </div>

      <span class="label">
        <span translate>TEXT.PROCESSING</span>...
      </span>
    </div>
  </div>
</div>
