@import './assets/scss/material-theme.scss';
@import './assets/scss/fonts/roboto.scss';
@import './assets/scss/core-loader.scss';

// Re-config for material components
@import './assets/scss/material-dialog.scss';
@import './assets/scss/material-snackbar.scss';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #1e88e5;
  --color-warn: #f44336;
}


